<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"> -->
    <!-- <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"> -->
    <title>Gmail</title>
    <script src="./renderer.js"></script>
    <link href="./style.css" rel="stylesheet"></link>
  </head>
  <body>
    <webview id="foo" src="https://www.google.com/gmail"></webview>
  </body>
</html>